<!-- Form Name -->
<input type="hidden" name="InquiryXsltId" value="[[InquiryXsltId]]" />
<input type="hidden" name="ECOwnerId" value="[[EntitySiteId]]" />
<input type="hidden" name="ECInquiryType" value="<%= inquirytype %>" />
<input type="hidden" name="ECInquirySource" value="<%= inquirysource %>" />
<input type="hidden" name="ECArgumentList" value="<%= xsltargumentlist %>" />

<legend><%= name %></legend>

<span class="pull-right" style="position:relative; top: -10px; font-size:smaller; text-align:right; width:100%;">* denotes a required field</span>